.employe {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
}
.employe img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
